## Import libraries

In [10]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\administrator\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\administrator\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\administrator\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\administrator\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\administrator\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\administrator\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\administrator\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\administrator\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\administrator\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\administrator\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\administrator\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By

import time

import pandas as pd

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
from selenium.common.exceptions import NoSuchElementException

In [6]:
import re

# Q1

In [6]:
driver=webdriver.Chrome()

In [7]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [11]:
most_view=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody')

for i in most_view:
    temp_text=i.text
    break

In [12]:
print(temp_text)

1. "Baby Shark Dance"[6] Pinkfong Baby Shark - children's songs 13.18 June 17, 2016 [A]
2. "Despacito"[9] Luis Fonsi 8.23 January 12, 2017 [B]
3. "Johny Johny Yes Papa"[16] LooLoo Kids - nursery rhymes 6.76 October 8, 2016
4. "Bath Song"[17] Cocomelon - nursery rhymes 6.33 May 2, 2018
5. "Shape of You"[18] Ed Sheeran 6.05 January 30, 2017 [C]
6. "See You Again"[21] Wiz Khalifa 5.98 April 6, 2015 [D]
7. "Wheels on the Bus"[26] Cocomelon - nursery rhymes 5.46 May 24, 2018
8. "Phonics Song with Two Words"[27] ChuChu TV - children's songs 5.42 March 6, 2014
9. "Uptown Funk"[28] Mark Ronson 5.00 November 19, 2014
10. "Learning Colors – Colorful Eggs on a Farm"[29] Miroshka TV - children's songs 4.94 February 27, 2018
11. "Gangnam Style"[30] Psy 4.86 July 15, 2012 [E]
12. "Masha and the Bear – Recipe for Disaster"[35] Get Movies - children's songs 4.55 January 31, 2012
13. "Dame Tu Cosita"[36] El Chombo 4.41 April 5, 2018
14. "Axel F"[37] Crazy Frog 4.00 June 16, 2009
15. "Sugar"[38] Maroon 5 3.91 January 14, 2015
16. "Roar"[39] Katy Perry 3.84 September 5, 2013
17. "Counting Stars"[40] OneRepublic 3.84 May 31, 2013
18. "Baa Baa Black Sheep"[41] Cocomelon - nursery rhymes 3.73 June 25, 2018
19. "Sorry"[42] Justin Bieber 3.69 October 22, 2015
20. "Waka Waka (This Time for Africa)"[43] Shakira 3.68 June 4, 2010
21. "Thinking Out Loud"[44] Ed Sheeran 3.63 October 7, 2014
22. "Lakdi Ki Kathi"[45] Jingle Toons 3.63 June 14, 2018
23. "Dark Horse"[46] Katy Perry 3.56 February 20, 2014
24. "Perfect"[47] Ed Sheeran 3.51 November 9, 2017
25. "Faded"[48] Alan Walker 3.49 December 3, 2015
26. "Let Her Go"[49] Passenger 3.48 July 25, 2012
27. "Humpty the train on a fruits ride"[50] Kiddiestv Hindi - children's songs 3.51 January 26, 2018
28. "Girls Like You"[51] Maroon 5 3.45 May 31, 2018
29. "Bailando"[52] Enrique Iglesias 3.43 April 11, 2014
30. "Lean On"[53] Major Lazer 3.43 March 22, 2015

In [13]:
split=temp_text.split('\n')

In [14]:
split

['1. "Baby Shark Dance"[6] Pinkfong Baby Shark - children\'s songs 13.18 June 17, 2016 [A]',
 '2. "Despacito"[9] Luis Fonsi 8.23 January 12, 2017 [B]',
 '3. "Johny Johny Yes Papa"[16] LooLoo Kids - nursery rhymes 6.76 October 8, 2016',
 '4. "Bath Song"[17] Cocomelon - nursery rhymes 6.33 May 2, 2018',
 '5. "Shape of You"[18] Ed Sheeran 6.05 January 30, 2017 [C]',
 '6. "See You Again"[21] Wiz Khalifa 5.98 April 6, 2015 [D]',
 '7. "Wheels on the Bus"[26] Cocomelon - nursery rhymes 5.46 May 24, 2018',
 '8. "Phonics Song with Two Words"[27] ChuChu TV - children\'s songs 5.42 March 6, 2014',
 '9. "Uptown Funk"[28] Mark Ronson 5.00 November 19, 2014',
 '10. "Learning Colors – Colorful Eggs on a Farm"[29] Miroshka TV - children\'s songs 4.94 February 27, 2018',
 '11. "Gangnam Style"[30] Psy 4.86 July 15, 2012 [E]',
 '12. "Masha and the Bear – Recipe for Disaster"[35] Get Movies - children\'s songs 4.55 January 31, 2012',
 '13. "Dame Tu Cosita"[36] El Chombo 4.41 April 5, 2018',
 '14. "Axel F"[37] Crazy Frog 4.00 June 16, 2009',
 '15. "Sugar"[38] Maroon 5 3.91 January 14, 2015',
 '16. "Roar"[39] Katy Perry 3.84 September 5, 2013',
 '17. "Counting Stars"[40] OneRepublic 3.84 May 31, 2013',
 '18. "Baa Baa Black Sheep"[41] Cocomelon - nursery rhymes 3.73 June 25, 2018',
 '19. "Sorry"[42] Justin Bieber 3.69 October 22, 2015',
 '20. "Waka Waka (This Time for Africa)"[43] Shakira 3.68 June 4, 2010',
 '21. "Thinking Out Loud"[44] Ed Sheeran 3.63 October 7, 2014',
 '22. "Lakdi Ki Kathi"[45] Jingle Toons 3.63 June 14, 2018',
 '23. "Dark Horse"[46] Katy Perry 3.56 February 20, 2014',
 '24. "Perfect"[47] Ed Sheeran 3.51 November 9, 2017',
 '25. "Faded"[48] Alan Walker 3.49 December 3, 2015',
 '26. "Let Her Go"[49] Passenger 3.48 July 25, 2012',
 '27. "Humpty the train on a fruits ride"[50] Kiddiestv Hindi - children\'s songs 3.51 January 26, 2018',
 '28. "Girls Like You"[51] Maroon 5 3.45 May 31, 2018',
 '29. "Bailando"[52] Enrique Iglesias 3.43 April 11, 2014',
 '30. "Lean On"[53] Major Lazer 3.43 March 22, 2015']

In [19]:
rank.clear()
name.clear()
artist.clear()
udate.clear()
views.clear()

In [18]:
rank=[]
name=[]
artist=[]
udate=[]
views=[]

In [20]:
for i in split:
    rank.append(i.split('.')[0])
    name.append(i.split('[')[0].split('.')[-1].strip())
    artist.append(re.split('\d+',i.split(']')[1])[0])
    udate.append(str(re.compile('[a-zA-Z]+\s+\d{2}').findall(i.split('.')[2]))+','+str(re.compile('\d{4}').findall(i.split('.')[2])))
    views.append(str(re.compile('\d+').findall(i.split(']')[1])[0])+'.'+str(re.compile('\d+').findall(i.split(']')[1])[1]))

In [21]:
print(rank)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30']

In [22]:
len(rank)

30

In [24]:
print(name)

['"Baby Shark Dance"', '"Despacito"', '"Johny Johny Yes Papa"', '"Bath Song"', '"Shape of You"', '"See You Again"', '"Wheels on the Bus"', '"Phonics Song with Two Words"', '"Uptown Funk"', '"Learning Colors – Colorful Eggs on a Farm"', '"Gangnam Style"', '"Masha and the Bear – Recipe for Disaster"', '"Dame Tu Cosita"', '"Axel F"', '"Sugar"', '"Roar"', '"Counting Stars"', '"Baa Baa Black Sheep"', '"Sorry"', '"Waka Waka (This Time for Africa)"', '"Thinking Out Loud"', '"Lakdi Ki Kathi"', '"Dark Horse"', '"Perfect"', '"Faded"', '"Let Her Go"', '"Humpty the train on a fruits ride"', '"Girls Like You"', '"Bailando"', '"Lean On"']

In [25]:
print(artist)

[" Pinkfong Baby Shark - children's songs ", ' Luis Fonsi ', ' LooLoo Kids - nursery rhymes ', ' Cocomelon - nursery rhymes ', ' Ed Sheeran ', ' Wiz Khalifa ', ' Cocomelon - nursery rhymes ', " ChuChu TV - children's songs ", ' Mark Ronson ', " Miroshka TV - children's songs ", ' Psy ', " Get Movies - children's songs ", ' El Chombo ', ' Crazy Frog ', ' Maroon ', ' Katy Perry ', ' OneRepublic ', ' Cocomelon - nursery rhymes ', ' Justin Bieber ', ' Shakira ', ' Ed Sheeran ', ' Jingle Toons ', ' Katy Perry ', ' Ed Sheeran ', ' Alan Walker ', ' Passenger ', " Kiddiestv Hindi - children's songs ", ' Maroon ', ' Enrique Iglesias ', ' Major Lazer ']

In [26]:
print(views)

['13.18', '8.23', '6.76', '6.33', '6.05', '5.98', '5.46', '5.42', '5.00', '4.94', '4.86', '4.55', '4.41', '4.00', '5.3', '3.84', '3.84', '3.73', '3.69', '3.68', '3.63', '3.63', '3.56', '3.51', '3.49', '3.48', '3.51', '5.3', '3.43', '3.43']

In [27]:
print(udate)

["['June 17'],['2016']", "['January 12'],['2017']", "[],['2016']", "[],['2018']", "['January 30'],['2017']", "[],['2015']", "['May 24'],['2018']", "[],['2014']", "['November 19'],['2014']", "['February 27'],['2018']", "['July 15'],['2012']", "['January 31'],['2012']", "[],['2018']", "['June 16'],['2009']", "['January 14'],['2015']", "[],['2013']", "['May 31'],['2013']", "['June 25'],['2018']", "['October 22'],['2015']", "[],['2010']", "[],['2014']", "['June 14'],['2018']", "['February 20'],['2014']", "[],['2017']", "[],['2015']", "['July 25'],['2012']", "['January 26'],['2018']", "['May 31'],['2018']", "['April 11'],['2014']", "['March 22'],['2015']"]

In [28]:
len(date)

0

In [30]:
print(len(rank),len(name),len(artist),len(views),len(udate))

30 30 30 30 30

In [31]:
df=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload Date':udate,'Views (billions)':views})
df

,Rank,Name,Artist,Upload Date,Views (billions)
0,1,"""Baby Shark Dance""",Pinkfong Baby Shark - children's songs,"['June 17'],['2016']",13.18
1,2,"""Despacito""",Luis Fonsi,"['January 12'],['2017']",8.23
2,3,"""Johny Johny Yes Papa""",LooLoo Kids - nursery rhymes,"[],['2016']",6.76
3,4,"""Bath Song""",Cocomelon - nursery rhymes,"[],['2018']",6.33
4,5,"""Shape of You""",Ed Sheeran,"['January 30'],['2017']",6.05
5,6,"""See You Again""",Wiz Khalifa,"[],['2015']",5.98
6,7,"""Wheels on the Bus""",Cocomelon - nursery rhymes,"['May 24'],['2018']",5.46
7,8,"""Phonics Song with Two Words""",ChuChu TV - children's songs,"[],['2014']",5.42
8,9,"""Uptown Funk""",Mark Ronson,"['November 19'],['2014']",5.00
9,10,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV - children's songs,"['February 27'],['2018']",4.94
10,11,"""Gangnam Style""",Psy,"['July 15'],['2012']",4.86
11,12,"""Masha and the Bear – Recipe for Disaster""",Get Movies - children's songs,"['January 31'],['2012']",4.55
12,13,"""Dame Tu Cosita""",El Chombo,"[],['2018']",4.41
13,14,"""Axel F""",Crazy Frog,"['June 16'],['2009']",4.00
14,15,"""Sugar""",Maroon,"['January 14'],['2015']",5.3
15,16,"""Roar""",Katy Perry,"[],['2013']",3.84
16,17,"""Counting Stars""",OneRepublic,"['May 31'],['2013']",3.84
17,18,"""Baa Baa Black Sheep""",Cocomelon - nursery rhymes,"['June 25'],['2018']",3.73
18,19,"""Sorry""",Justin Bieber,"['October 22'],['2015']",3.69
19,20,"""Waka Waka (This Time for Africa)""",Shakira,"[],['2010']",3.68
20,21,"""Thinking Out Loud""",Ed Sheeran,"[],['2014']",3.63
21,22,"""Lakdi Ki Kathi""",Jingle Toons,"['June 14'],['2018']",3.63
22,23,"""Dark Horse""",Katy Perry,"['February 20'],['2014']",3.56
23,24,"""Perfect""",Ed Sheeran,"[],['2017']",3.51
24,25,"""Faded""",Alan Walker,"[],['2015']",3.49
25,26,"""Let Her Go""",Passenger,"['July 25'],['2012']",3.48
26,27,"""Humpty the train on a fruits ride""",Kiddiestv Hindi - children's songs,"['January 26'],['2018']",3.51
27,28,"""Girls Like You""",Maroon,"['May 31'],['2018']",5.3
28,29,"""Bailando""",Enrique Iglesias,"['April 11'],['2014']",3.43
29,30,"""Lean On""",Major Lazer,"['March 22'],['2015']",3.43

# Q2

In [32]:
driver=webdriver.Chrome()

In [35]:
driver.get("http://www.bcci.tv/")

In [36]:
search=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]")
search.click()
time.sleep(3)

In [37]:
search=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div/ul/li[1]/a")
search.click()
time.sleep(3)

In [89]:
title=[]
series=[]
place=[]
date=[]
time=[]

In [90]:
mtitle=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')

for i in mtitle:
    mt=i.text
    title.append(mt)
    
print(title)

['INDIA TOUR OF IRELAND 2023', 'INDIA TOUR OF IRELAND 2023', 'ASIA CUP 2023', 'ASIA CUP 2023', 'AUSTRALIA TOUR OF INDIA 2023-24', 'AUSTRALIA TOUR OF INDIA 2023-24', 'AUSTRALIA TOUR OF INDIA 2023-24', 'ICC MENS WORLD CUP 2023']

In [91]:
len(title)

8

In [92]:
mseries=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')

for i in mseries:
    ms=i.text
    series.append(ms)
    
print(series)

['2nd T20I -', '3rd T20I -', '1st ODI -', '2nd ODI -', '1st ODI -', '2nd ODI -', '3rd ODI -', '1st ODI -']

In [93]:
len(series)

8

In [94]:
mplace=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')

for i in mplace:
    mp=i.text
    place.append(mp)
    
print(place)

['Dublin', 'Dublin', 'Pallekele', 'Pallekele', 'Mohali', 'Indore', 'Rajkot', 'Chennai']

In [95]:
mdate=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')

for i in mdate:
    md=i.text
    date.append(md)
    
print(date)

['20 AUG 2023', '23 AUG 2023', '2 SEP 2023', '4 SEP 2023', '22 SEP 2023', '24 SEP 2023', '27 SEP 2023', '8 OCT 2023']

In [96]:
mtime=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')

for i in mtime:
    mt=i.text
    time.append(mt)
    
print(time)

['7:30 PM IST', '7:30 PM IST', '10:00 AM IST', '10:00 AM IST', '1:30 PM IST', '1:30 PM IST', '1:30 PM IST', '2:00 PM IST']

In [97]:
len(mtime)

8

In [99]:
print(len(title),len(series),len(place),len(date),len(time))

8 8 8 8 8

In [100]:
df=pd.DataFrame({'Match Title':title,'Series':series,'Place':place,'Date':date,'Time':time})
df

,Match Title,Series,Place,Date,Time
0,INDIA TOUR OF IRELAND 2023,2nd T20I -,Dublin,20 AUG 2023,7:30 PM IST
1,INDIA TOUR OF IRELAND 2023,3rd T20I -,Dublin,23 AUG 2023,7:30 PM IST
2,ASIA CUP 2023,1st ODI -,Pallekele,2 SEP 2023,10:00 AM IST
3,ASIA CUP 2023,2nd ODI -,Pallekele,4 SEP 2023,10:00 AM IST
4,AUSTRALIA TOUR OF INDIA 2023-24,1st ODI -,Mohali,22 SEP 2023,1:30 PM IST
5,AUSTRALIA TOUR OF INDIA 2023-24,2nd ODI -,Indore,24 SEP 2023,1:30 PM IST
6,AUSTRALIA TOUR OF INDIA 2023-24,3rd ODI -,Rajkot,27 SEP 2023,1:30 PM IST
7,ICC MENS WORLD CUP 2023,1st ODI -,Chennai,8 OCT 2023,2:00 PM IST

# Q3

In [114]:
driver=webdriver.Chrome()

In [115]:
driver.get("http://statisticstimes.com/")

In [116]:
search=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]")
search.click()
search=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
search.click()

In [118]:
search=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
search.click()

In [126]:
rank=[]
state=[]
gsdp1819=[]
gsdp1920=[]
share=[]
gdp=[]

In [128]:
srank=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')

for i in srank:
    rk=i.text
    rank.append(rk)
    
print(rank)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']

In [127]:
print(state)

[]

In [129]:
sstate=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')

for i in sstate:
    st=i.text
    state.append(st)
    
print(state)

['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Gujarat', 'Karnataka', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Punjab', 'Odisha', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Nagaland', 'Arunachal Pradesh', 'Mizoram', 'Andaman & Nicobar Islands']

In [135]:
sgsdp1819=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')

for i in sgsdp1819:
    gs=i.text
    gsdp1819.append(gs)
    
print(gsdp1819)

['-', '1,845,853', '1,687,818', '-', '1,631,977', '1,253,832', '1,020,989', '972,782', '969,604', '906,672', '-', '856,112', '831,610', '611,804', '574,760', '521,275', '-', '329,180', '328,598', '-', '-', '165,472', '80,449', '55,984', '-', '38,253', '36,572', '32,496', '31,790', '-', '-', '26,503', '-']

In [130]:
sgsdp1920=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')

for i in sgsdp1920:
    gd=i.text
    gsdp1920.append(gd)
    
print(gsdp1920)

['2,632,792', '1,630,208', '1,584,764', '1,502,899', '1,493,127', '1,089,898', '942,586', '862,957', '861,031', '809,592', '781,653', '774,870', '734,163', '530,363', '526,376', '487,805', '315,881', '304,063', '297,204', '245,895', '155,956', '153,845', '73,170', '49,845', '42,114', '34,433', '33,481', '28,723', '27,870', '27,283', '24,603', '22,287', '-']

In [131]:
sshare=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')

for i in sshare:
    sh=i.text
    share.append(sh)
    
print(share)

['13.94%', '8.63%', '8.39%', '7.96%', '7.91%', '5.77%', '4.99%', '4.57%', '4.56%', '4.29%', '4.14%', '4.10%', '3.89%', '2.81%', '2.79%', '2.58%', '1.67%', '1.61%', '1.57%', '1.30%', '0.83%', '0.81%', '0.39%', '0.26%', '0.22%', '0.18%', '0.18%', '0.15%', '0.15%', '0.14%', '0.13%', '0.12%', '-']

In [132]:
sgdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')

for i in sgdp:
    sgd=i.text
    gdp.append(sgd)
    
print(gdp)

['399.921', '247.629', '240.726', '228.290', '226.806', '165.556', '143.179', '131.083', '130.791', '122.977', '118.733', '117.703', '111.519', '80.562', '79.957', '74.098', '47.982', '46.187', '45.145', '37.351', '23.690', '23.369', '11.115', '7.571', '6.397', '5.230', '5.086', '4.363', '4.233', '4.144', '3.737', '3.385', '-']

In [136]:
print(gsdp1819)

['-', '1,845,853', '1,687,818', '-', '1,631,977', '1,253,832', '1,020,989', '972,782', '969,604', '906,672', '-', '856,112', '831,610', '611,804', '574,760', '521,275', '-', '329,180', '328,598', '-', '-', '165,472', '80,449', '55,984', '-', '38,253', '36,572', '32,496', '31,790', '-', '-', '26,503', '-']

In [137]:
print(len(rank),len(state),len(gsdp1819),len(gsdp1920),len(share),len(gdp))

33 33 33 33 33 33

In [138]:
df=pd.DataFrame({'Rank':rank,'State':state,'GSDP(18-19) at current prices':gsdp1819,'GSDP(19-20) at current prices':gsdp1920,'Share (18-19)':share,'GDP($ billion)':gdp})
df

,Rank,State,GSDP(18-19) at current prices,GSDP(19-20) at current prices,Share (18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Q4

In [8]:
driver=webdriver.Chrome()

Error getting version of chromedriver 115. Retrying with chromedriver 114 (attempt 1/5)

In [9]:
from selenium.webdriver.common.action_chains import ActionChains
driver.maximize_window()

In [10]:
driver.get("https://github.com/")

In [11]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]")
search.click()
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
search.click()

In [13]:
rep_title=[]
des=[]
count=[]
lang=[]
url=[]

In [14]:
purl=driver.find_elements(By.XPATH,'//a[@class="Link"]')

for i in purl:
    url.append(i.get_attribute('href'))

time.sleep(3)

In [15]:
print(url)

['https://github.com/getumbrel/llama-gpt', 'https://github.com/qiuyu96/CoDeF', 'https://github.com/leejet/stable-diffusion.cpp', 'https://github.com/jackfrued/Python-100-Days', 'https://github.com/LorisYounger/VPet', 'https://github.com/kuafuai/DevOpsGPT', 'https://github.com/calcom/cal.com', 'https://github.com/Grasscutters/Grasscutter', 'https://github.com/vinta/awesome-python', 'https://github.com/dimdenGD/OldTweetDeck', 'https://github.com/serde-rs/serde', 'https://github.com/ill-inc/biomes-game', 'https://github.com/facebookresearch/AnimatedDrawings', 'https://github.com/elidianaandrade/dio-lab-open-source', 'https://github.com/documenso/documenso', 'https://github.com/microsoft/Bringing-Old-Photos-Back-to-Life', 'https://github.com/organicmaps/organicmaps', 'https://github.com/OpenBB-finance/OpenBBTerminal', 'https://github.com/EbookFoundation/free-programming-books', 'https://github.com/smol-ai/GodMode', 'https://github.com/jiran214/GPT-vup', 'https://github.com/hehonghui/awesome-english-ebooks', 'https://github.com/roboflow/supervision', 'https://github.com/aseprite/aseprite', 'https://github.com/StanGirard/quivr']

In [16]:
len(url)

25

In [17]:
rtitle=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')

for i in rtitle:
    rt=i.text
    rep_title.append(rt)
    
print(rep_title)

['getumbrel / llama-gpt', 'qiuyu96 / CoDeF', 'leejet / stable-diffusion.cpp', 'jackfrued / Python-100-Days', 'LorisYounger / VPet', 'kuafuai / DevOpsGPT', 'calcom / cal.com', 'Grasscutters / Grasscutter', 'vinta / awesome-python', 'dimdenGD / OldTweetDeck', 'serde-rs / serde', 'ill-inc / biomes-game', 'facebookresearch / AnimatedDrawings', 'elidianaandrade / dio-lab-open-source', 'documenso / documenso', 'microsoft / Bringing-Old-Photos-Back-to-Life', 'organicmaps / organicmaps', 'OpenBB-finance / OpenBBTerminal', 'EbookFoundation / free-programming-books', 'smol-ai / GodMode', 'jiran214 / GPT-vup', 'hehonghui / awesome-english-ebooks', 'roboflow / supervision', 'aseprite / aseprite', 'StanGirard / quivr']

In [18]:
len(rep_title)

25

In [19]:
rdes=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')

for i in rdes:
    rd=i.text
    des.append(rd)
    
print(des)

['A self-hosted, offline, ChatGPT-like chatbot. Powered by Llama 2. 100% private, with no data leaving your device.', 'Official PyTorch implementation of CoDeF: Content Deformation Fields for Temporally Consistent Video Processing', 'Stable Diffusion in pure C/C++', 'Python - 100天从新手到大师', '虚拟桌宠模拟器 一个开源的桌宠软件, 可以内置到任何WPF应用程序', 'Multi agent system for AI-driven software development. Convert natural language requirements into working software. Supports any development language and extends the existing base code.', 'Scheduling infrastructure for absolutely everyone.', 'A server software reimplementation for a certain anime game.', 'A curated list of awesome Python frameworks, libraries, software and resources', 'Returns old TweetDeck, for free!', 'Serialization framework for Rust', 'Biomes is an open source sandbox MMORPG built for the web using web technologies such as Next.js, Typescript, React and WebAssembly.', 'Code to accompany "A Method for Animating Children\'s Drawings of the Human Figure"', 'Repositório do lab Contribuindo em um Projeto Open Source no GitHub da Digital Innovation One.', 'The Open Source DocuSign Alternative.', 'Bringing Old Photo Back to Life (CVPR 2020 oral)', '🍃 Organic Maps is a free Android & iOS offline maps app for travelers, tourists, hikers, and cyclists. It uses crowd-sourced OpenStreetMap data and is developed with love by MapsWithMe (MapsMe) founders and our community. No ads, no tracking, no data collection, no crapware. Please donate to support the development!', 'Investment Research for Everyone, Everywhere.', '📚 Freely available programming books', 'AI Chat Browser: Fast, Full webapp access to ChatGPT / Claude / Bard / Bing / Llama2! I use this 20 times a day.', 'GPT-vup BIliBili | 抖音 | AI | 虚拟主播', '经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi、pdf格式, 每周更新', 'We write your reusable computer vision tools. 💜', 'Animated sprite editor & pixel art tool (Windows, macOS, Linux)', '🧠 Your Second Brain supercharged by Generative AI 🧠 Dump all your files and chat with your personal assistant on your files & more using GPT 3.5/4, Private, Anthropic, VertexAI, LLMs...']

In [33]:
for purl in url:
    driver.get(purl)
    time.sleep(1)

    try:
        rlan=driver.find_element(By.XPATH,'//div[@class="Layout-sidebar"]/div/div[5]/div/ul/li/a//span[@class="color-fg-default text-bold mr-1"]')
        lang.append(rlan.text)
        rcount=driver.find_element(By.XPATH,'//div[@class="Layout-sidebar"]/div/div[4]/div/h2/a//span[@class="Counter ml-1"]')
        count.append(rcount.text)
    except NoSuchElementException:
        lang.append('-')
        count.append('-')

In [34]:
print(len(rep_title),len(des),len(count),len(lang))

25 25 25 27

In [29]:
print(lang)

['TypeScript', '-', 'Python', '-', 'C++', 'Python', 'C#', '-', 'Python', '-', 'TypeScript', 'Java', 'Python', '-', 'JavaScript', 'Rust', 'TypeScript', 'Python', '-', '-', 'TypeScript', 'Python', '-', 'C++', 'Python', '-', '-', 'TypeScript', '-', 'Python', '-', 'CSS', '-', 'Python', '-', 'C++', '-', 'TypeScript']

In [36]:
df=pd.DataFrame({'Repository Title':rep_title,'Repositary Description':des,'Contributors Count':count})
df

,Repository Title,Repositary Description,Contributors Count
0,getumbrel / llama-gpt,"A self-hosted, offline, ChatGPT-like chatbot. ...",4
1,qiuyu96 / CoDeF,Official PyTorch implementation of CoDeF: Cont...,5
2,leejet / stable-diffusion.cpp,Stable Diffusion in pure C/C++,3
3,jackfrued / Python-100-Days,Python - 100天从新手到大师,-
4,LorisYounger / VPet,"虚拟桌宠模拟器 一个开源的桌宠软件, 可以内置到任何WPF应用程序",-
5,kuafuai / DevOpsGPT,Multi agent system for AI-driven software deve...,-
6,calcom / cal.com,Scheduling infrastructure for absolutely every...,400
7,Grasscutters / Grasscutter,A server software reimplementation for a certa...,188
8,vinta / awesome-python,"A curated list of awesome Python frameworks, l...",-
9,dimdenGD / OldTweetDeck,"Returns old TweetDeck, for free!",
10,serde-rs / serde,Serialization framework for Rust,165
11,ill-inc / biomes-game,Biomes is an open source sandbox MMORPG built ...,8
12,facebookresearch / AnimatedDrawings,"Code to accompany ""A Method for Animating Chil...",-
13,elidianaandrade / dio-lab-open-source,Repositório do lab Contribuindo em um Projeto ...,-
14,documenso / documenso,The Open Source DocuSign Alternative.,-
15,microsoft / Bringing-Old-Photos-Back-to-Life,Bringing Old Photo Back to Life (CVPR 2020 oral),-
16,organicmaps / organicmaps,🍃 Organic Maps is a free Android & iOS offline...,-
17,OpenBB-finance / OpenBBTerminal,"Investment Research for Everyone, Everywhere.",-
18,EbookFoundation / free-programming-books,📚 Freely available programming books,-
19,smol-ai / GodMode,"AI Chat Browser: Fast, Full webapp access to C...",15
20,jiran214 / GPT-vup,GPT-vup BIliBili | 抖音 | AI | 虚拟主播,-
21,hehonghui / awesome-english-ebooks,"经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi...",-
22,roboflow / supervision,We write your reusable computer vision tools. 💜,-
23,aseprite / aseprite,Animated sprite editor & pixel art tool (Windo...,-
24,StanGirard / quivr,🧠 Your Second Brain supercharged by Generative...,-

# Q5

In [74]:
driver=webdriver.Chrome()

In [75]:
from selenium.webdriver.common.action_chains import ActionChains
driver.maximize_window()

In [76]:
driver.get("https:/www.billboard.com/")

In [77]:
search=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]")
search.click()

In [78]:
search=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]")
search.click()

# Q6

In [56]:
driver=webdriver.Chrome()

In [57]:
from selenium.webdriver.common.action_chains import ActionChains
driver.maximize_window()

In [58]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [59]:
bookname=[]
autname=[]
vsold=[]
publisher=[]
bgenre=[]

In [60]:
bkname=driver.find_elements(By.XPATH,"//td[@class='left'][2]")

for i in bkname:
    bkn=i.text
    bookname.append(bkn)

print(bookname)
len(bookname)

['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

100

In [61]:
bautname=driver.find_elements(By.XPATH,"//td[@class='left'][3]")

for i in bautname:
    aut=i.text
    autname.append(aut)

print(autname)
len(autname)

['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']

100

In [62]:
bvsold=driver.find_elements(By.XPATH, "//td[@class='left'][4]")

for i in bvsold:
    vol=i.text
    vsold.append(vol)

print(vsold)
len(vsold)

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']

100

In [63]:
bpublisher=driver.find_elements(By.XPATH,"//td[@class='left'][5]")

for i in bpublisher:
    pub=i.text
    publisher.append(pub)

print(publisher)
len(publisher)

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']

100

In [64]:
bkgenre=driver.find_elements(By.XPATH,"//td[@class='last left']")

for i in bkgenre:
    gen=i.text
    bgenre.append(gen)

print(bgenre)
len(bgenre)

['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']

100

In [65]:
df=pd.DataFrame({'Book Name':bookname,'Author Name':autname,'Volumen Sold':vsold,'Publisher':publisher,'Genre':bgenre})
df

,Book Name,Author Name,Volumen Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q7

In [42]:
driver=webdriver.Chrome()

In [43]:
from selenium.webdriver.common.action_chains import ActionChains
driver.maximize_window()

In [44]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [45]:
iname=[]
year=[]
genre=[]
runtime=[]
ratings=[]
vites=[]

In [46]:
iiname=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']//a")

for i in iiname:
    nm=i.text
    iname.append(nm)

print(iname)

['Game of Thrones', 'Stranger Things', 'The Walking Dead', '13 Reasons Why', 'The 100', 'Orange Is the New Black', 'Riverdale', "Grey's Anatomy", 'The Flash', 'Arrow', 'Money Heist', 'The Big Bang Theory', 'Black Mirror', 'Sherlock', 'Vikings', 'Pretty Little Liars', 'The Vampire Diaries', 'American Horror Story', 'Breaking Bad', 'Lucifer', 'Supernatural', 'Prison Break', 'How to Get Away with Murder', 'Teen Wolf', 'The Simpsons', 'Once Upon a Time', 'Narcos', 'Daredevil', 'Friends', 'How I Met Your Mother', 'Suits', 'Mr. Robot', 'The Originals', 'Supergirl', 'Gossip Girl', 'Sense8', 'Gotham', 'Westworld', 'Jessica Jones', 'Modern Family', 'Rick and Morty', 'Shadowhunters', 'The End of the F***ing World', 'House of Cards', 'Dark', 'Elite', 'Sex Education', 'Shameless', 'New Girl', 'Agents of S.H.I.E.L.D.', 'You', 'Dexter', 'Fear the Walking Dead', 'Family Guy', 'The Blacklist', 'Lost', 'Peaky Blinders', 'House', 'Quantico', 'Orphan Black', 'Homeland', 'Blindspot', "DC's Legends of Tomorrow", "The Handmaid's Tale", 'Chilling Adventures of Sabrina', 'The Good Doctor', 'Jane the Virgin', 'Glee', 'South Park', 'Brooklyn Nine-Nine', 'Under the Dome', 'The Umbrella Academy', 'True Detective', 'The OA', 'Desperate Housewives', 'Better Call Saul', 'Bates Motel', 'The Punisher', 'Atypical', 'Dynasty', 'This Is Us', 'The Good Place', 'Iron Fist', 'The Rain', 'Mindhunter', 'Revenge', 'Luke Cage', 'Scandal', 'The Defenders', 'Big Little Lies', 'Insatiable', 'The Mentalist', 'The Crown', 'Chernobyl', 'iZombie', 'Reign', 'A Series of Unfortunate Events', 'Criminal Minds', 'Scream: The TV Series', 'The Haunting of Hill House']

In [47]:
len(iname)

100

In [48]:
iyear=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']//span[2]")

for i in iyear:
    yr=i.text
    year.append(yr)

print(year)

['(2011–2019)', '(2016–2024)', '(2010–2022)', '(2017–2020)', '(2014–2020)', '(2013–2019)', '(2017–2023)', '(2005– )', '(2014–2023)', '(2012–2020)', '(2017–2021)', '(2007–2019)', '(2011– )', '(2010–2017)', '(2013–2020)', '(2010–2017)', '(2009–2017)', '(2011– )', '(2008–2013)', '(2016–2021)', '(2005–2020)', '(2005–2017)', '(2014–2020)', '(2011–2017)', '(1989– )', '(2011–2018)', '(I) (2015–2017)', '(2015–2018)', '(1994–2004)', '(2005–2014)', '(2011–2019)', '(2015–2019)', '(2013–2018)', '(2015–2021)', '(2007–2012)', '(2015–2018)', '(2014–2019)', '(2016–2022)', '(2015–2019)', '(2009–2020)', '(2013– )', '(2016–2019)', '(2017–2019)', '(2013–2018)', '(2017–2020)', '(2018– )', '(2019–2023)', '(2011–2021)', '(2011–2018)', '(2013–2020)', '(2018–2024)', '(2006–2013)', '(2015–2023)', '(1999– )', '(2013–2023)', '(2004–2010)', '(2013–2022)', '(2004–2012)', '(2015–2018)', '(2013–2017)', '(2011–2020)', '(2015–2020)', '(2016–2022)', '(2017– )', '(2018–2020)', '(2017– )', '(2014–2019)', '(2009–2015)', '(1997– )', '(2013–2021)', '(2013–2015)', '(2019–2023)', '(2014– )', '(2016–2019)', '(2004–2012)', '(2015–2022)', '(2013–2017)', '(2017–2019)', '(2017–2021)', '(2017–2022)', '(2016–2022)', '(2016–2020)', '(2017–2018)', '(2018–2020)', '(2017–2019)', '(2011–2015)', '(2016–2018)', '(2012–2018)', '(2017)', '(2017–2019)', '(2018–2019)', '(2008–2015)', '(2016–2023)', '(2019)', '(2015–2019)', '(2013–2017)', '(2017–2019)', '(2005– )', '(2015–2019)', '(2018)']

In [49]:
len(year)

100

In [50]:
igenre=driver.find_elements(By.XPATH,"//span[@class='genre']")

for i in igenre:
    ge=i.text
    genre.append(ge)

print(genre)

['Action, Adventure, Drama', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Drama, Mystery, Thriller', 'Drama, Mystery, Sci-Fi', 'Comedy, Crime, Drama', 'Crime, Drama, Mystery', 'Drama, Romance', 'Action, Adventure, Drama', 'Action, Adventure, Crime', 'Action, Crime, Drama', 'Comedy, Romance', 'Drama, Mystery, Sci-Fi', 'Crime, Drama, Mystery', 'Action, Adventure, Drama', 'Drama, Mystery, Romance', 'Drama, Fantasy, Horror', 'Drama, Horror, Sci-Fi', 'Crime, Drama, Thriller', 'Crime, Drama, Fantasy', 'Drama, Fantasy, Horror', 'Action, Crime, Drama', 'Crime, Drama, Mystery', 'Action, Drama, Fantasy', 'Animation, Comedy', 'Adventure, Fantasy, Romance', 'Biography, Crime, Drama', 'Action, Crime, Drama', 'Comedy, Romance', 'Comedy, Drama, Romance', 'Comedy, Drama', 'Crime, Drama, Thriller', 'Drama, Fantasy, Horror', 'Action, Adventure, Drama', 'Drama, Romance', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Comedy, Drama, Romance', 'Animation, Adventure, Comedy', 'Action, Drama, Fantasy', 'Adventure, Comedy, Crime', 'Drama', 'Crime, Drama, Mystery', 'Crime, Drama, Thriller', 'Comedy, Drama', 'Comedy, Drama', 'Comedy, Romance', 'Action, Adventure, Drama', 'Crime, Drama, Romance', 'Crime, Drama, Mystery', 'Drama, Horror, Sci-Fi', 'Animation, Comedy', 'Crime, Drama, Mystery', 'Adventure, Drama, Fantasy', 'Crime, Drama', 'Drama, Mystery', 'Crime, Drama, Mystery', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Mystery', 'Action, Crime, Drama', 'Action, Adventure, Drama', 'Drama, Sci-Fi, Thriller', 'Drama, Fantasy, Horror', 'Drama', 'Comedy', 'Comedy, Drama, Music', 'Animation, Comedy', 'Comedy, Crime', 'Drama, Mystery, Sci-Fi', 'Action, Adventure, Comedy', 'Crime, Drama, Mystery', 'Drama, Fantasy, Mystery', 'Comedy, Drama, Mystery', 'Crime, Drama', 'Drama, Horror, Mystery', 'Action, Crime, Drama', 'Comedy, Drama', 'Drama', 'Comedy, Drama, Romance', 'Comedy, Drama, Fantasy', 'Action, Adventure, Crime', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Mystery', 'Drama, Mystery, Thriller', 'Action, Crime, Drama', 'Drama, Thriller', 'Action, Adventure, Crime', 'Crime, Drama, Mystery', 'Comedy, Drama, Thriller', 'Crime, Drama, Mystery', 'Biography, Drama, History', 'Drama, History, Thriller', 'Comedy, Crime, Drama', 'Drama', 'Adventure, Comedy, Drama', 'Crime, Drama, Mystery', 'Comedy, Crime, Drama', 'Drama, Horror, Mystery']

In [51]:
len(genre)

100

In [52]:
iruntime=driver.find_elements(By.XPATH, "//span[@class='runtime']")

for i in iruntime:
    te=i.text
    runtime.append(te)

print(runtime)
len(runtime)

['57 min', '51 min', '44 min', '60 min', '43 min', '59 min', '45 min', '41 min', '43 min', '42 min', '70 min', '22 min', '60 min', '88 min', '44 min', '44 min', '43 min', '60 min', '49 min', '42 min', '44 min', '44 min', '43 min', '41 min', '22 min', '60 min', '49 min', '54 min', '22 min', '22 min', '44 min', '49 min', '45 min', '43 min', '42 min', '60 min', '42 min', '62 min', '56 min', '22 min', '23 min', '42 min', '25 min', '51 min', '60 min', '60 min', '45 min', '46 min', '22 min', '45 min', '45 min', '53 min', '44 min', '22 min', '43 min', '44 min', '60 min', '44 min', '42 min', '44 min', '55 min', '42 min', '42 min', '60 min', '60 min', '41 min', '60 min', '44 min', '22 min', '22 min', '43 min', '60 min', '55 min', '60 min', '45 min', '46 min', '45 min', '53 min', '30 min', '42 min', '45 min', '22 min', '55 min', '45 min', '60 min', '44 min', '55 min', '43 min', '50 min', '60 min', '45 min', '43 min', '58 min', '330 min', '42 min', '42 min', '50 min', '42 min', '45 min', '572 min']

100

In [53]:
iratings=driver.find_elements(By.XPATH, "//div[@class='ipl-rating-star small']")

for i in iratings:
    rg=i.text
    ratings.append(rg)

print(ratings)
len(ratings)

['9.2', '8.7', '8.1', '7.5', '7.6', '8.1', '6.5', '7.6', '7.5', '7.5', '8.2', '8.2', '8.7', '9.1', '8.5', '7.4', '7.7', '8', '9.5', '8.1', '8.4', '8.3', '8.1', '7.7', '8.7', '7.7', '8.8', '8.6', '8.9', '8.3', '8.4', '8.5', '8.3', '6.2', '7.5', '8.2', '7.8', '8.5', '7.9', '8.5', '9.1', '6.5', '8', '8.7', '8.7', '7.3', '8.3', '8.6', '7.8', '7.5', '7.7', '8.7', '6.8', '8.2', '8', '8.3', '8.8', '8.7', '6.7', '8.3', '8.3', '7.3', '6.8', '8.4', '7.4', '8', '7.9', '6.8', '8.7', '8.4', '6.5', '7.9', '8.9', '7.8', '7.6', '9', '8.1', '8.5', '8.2', '7.3', '8.7', '8.2', '6.4', '6.3', '8.6', '7.8', '7.3', '7.7', '7.2', '8.5', '6.5', '8.2', '8.6', '9.4', '7.8', '7.5', '7.8', '8.1', '7', '8.6']

100

In [54]:
ivites=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small'][3]")

for i in ivites:
    vs=i.text
    vites.append(vs)

print(vites)
len(vites)

['Votes: 2,194,278', 'Votes: 1,267,879', 'Votes: 1,041,491', 'Votes: 306,119', 'Votes: 265,188', 'Votes: 312,800', 'Votes: 150,659', 'Votes: 326,927', 'Votes: 362,167', 'Votes: 440,323', 'Votes: 505,079', 'Votes: 837,955', 'Votes: 606,777', 'Votes: 962,952', 'Votes: 559,123', 'Votes: 173,799', 'Votes: 336,353', 'Votes: 330,250', 'Votes: 2,023,065', 'Votes: 341,320', 'Votes: 464,887', 'Votes: 559,613', 'Votes: 159,910', 'Votes: 158,022', 'Votes: 422,599', 'Votes: 231,386', 'Votes: 449,727', 'Votes: 459,014', 'Votes: 1,040,977', 'Votes: 708,386', 'Votes: 442,560', 'Votes: 404,031', 'Votes: 142,660', 'Votes: 127,521', 'Votes: 184,362', 'Votes: 159,227', 'Votes: 236,544', 'Votes: 519,597', 'Votes: 221,285', 'Votes: 458,918', 'Votes: 563,853', 'Votes: 67,652', 'Votes: 207,815', 'Votes: 519,050', 'Votes: 417,901', 'Votes: 86,084', 'Votes: 309,240', 'Votes: 262,163', 'Votes: 236,903', 'Votes: 222,294', 'Votes: 283,234', 'Votes: 744,917', 'Votes: 137,423', 'Votes: 354,080', 'Votes: 269,515', 'Votes: 575,211', 'Votes: 599,892', 'Votes: 487,282', 'Votes: 62,710', 'Votes: 114,316', 'Votes: 352,476', 'Votes: 77,047', 'Votes: 108,172', 'Votes: 249,302', 'Votes: 102,812', 'Votes: 106,458', 'Votes: 55,751', 'Votes: 152,735', 'Votes: 393,214', 'Votes: 340,098', 'Votes: 109,983', 'Votes: 262,078', 'Votes: 605,257', 'Votes: 110,089', 'Votes: 134,698', 'Votes: 597,896', 'Votes: 113,158', 'Votes: 252,464', 'Votes: 98,135', 'Votes: 24,061', 'Votes: 151,648', 'Votes: 176,880', 'Votes: 136,075', 'Votes: 39,910', 'Votes: 312,864', 'Votes: 122,825', 'Votes: 136,158', 'Votes: 77,513', 'Votes: 112,972', 'Votes: 213,915', 'Votes: 31,114', 'Votes: 193,399', 'Votes: 233,223', 'Votes: 815,366', 'Votes: 71,782', 'Votes: 52,472', 'Votes: 64,491', 'Votes: 210,196', 'Votes: 43,707', 'Votes: 263,889']

100

In [55]:
df=pd.DataFrame({'Name':iname,'Year Span':year,'Genre':genre,'Run Time':runtime,'Ratings':ratings,'Votes':vites})
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"Votes: 2,194,278"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"Votes: 1,267,879"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"Votes: 1,041,491"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"Votes: 306,119"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"Votes: 265,188"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"Votes: 52,472"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"Votes: 64,491"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"Votes: 210,196"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"Votes: 43,707"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"Votes: 263,889"

# Q8

In [66]:
driver=webdriver.Chrome()

In [67]:
from selenium.webdriver.common.action_chains import ActionChains
driver.maximize_window()

In [68]:
driver.get("https://archive.ics.uci.edu/")